
.header-ttl {
    text-align: center;
    color: #000;
    font-size: 20px;
    font-family: "Plus Jakarta Sans", serif;
    font-weight: bold;
    margin-top: 0;
}
.header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.current-period {
    font-family: "Plus Jakarta Sans", serif;
    font-weight: bold;
    font-size: 16px;
    color: #1f1f1f;
}
.cal-nav-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}