<p class="header-ttl">Check-In</p>
<div class="header-buttons">
    <!-- Previous Button -->
    <button
      class="cal-nav-btn"
      aria-label="Previous month"
      (click)="previousClicked()"
      [disabled]="isPreviousDateDisabled()"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>

    <!-- Current Period -->
    <div class="current-period">{{ currentMonthYear }}</div>

    <!-- Next Button -->
    <button
      class="cal-nav-btn"
      aria-label="Next month"
      (click)="nextClicked()"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
