<p>Check-In</p>
<div class="header-buttons">
    <!-- Previous Button -->
    <button
      mat-icon-button
      mat-calendar-previous-button
      aria-label="Previous month"
      (click)="previousClicked()"
      [disabled]="isPreviousDateDisabled()"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>

    <!-- Current Period -->
    <!-- <div class="current-period">{{ calendar?.activeDate | date: 'MMMM yyyy' }}</div> -->

    <!-- Next Button -->
    <button
      mat-icon-button
      mat-calendar-next-button
      aria-label="Next month"
      (click)="nextClicked()"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
