
.header-ttl {
    text-align: center;
    color: #000;
    font-size: 20px;
    font-family: "Plus Jakarta Sans", serif;
    font-weight: bold;
    margin-top: 0;
}.header-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}