.header-main-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;
    z-index: 1;
}
.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.middle-blck > .header-nav-link {
    margin-right: 50px;
}
.header-nav-link {
    color: #5F5F5F;
    font-size: 16px;
    text-decoration: none;
}
.right-blck {
    display: flex;
    align-items: center;
    column-gap: 20px;
    position: relative;
}
.login-btn {
    cursor: pointer;
    width: 86px;
    height: 42px;
    font-size: 14px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    border: 0;
    padding: 0;
    background-color: #1f1f1f;
    font-family: "Plus Jakarta Sans", serif;
    font-weight: 600;
}
.login-menu-btn {
    width: 16px;
    height: 16px;
    background: url('/assets/images/sprite-png.png') no-repeat  -229px -159px;
    background-size: 496px 258px;
}
.menu-dropdown {
    width: 36px;
    height: 24px;
    background: url('/assets/images/sprite-svg.svg') no-repeat  -40px -10px;
    cursor: pointer;
}
.header-right-blck {
    display: flex;
    align-items: center;
}
.menu-dropdown-cntr {
    width: 250px;
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 14px 0 rgba(180, 180, 180, 0.25);
    position: absolute;
    top: 34px;
    right: 0;
}
.menu-dropdwn-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #5f5f5f;
    margin-bottom: 20px;
    cursor: pointer;
    &:last-child {
        margin-bottom: 0;
    }
    .db-cash-bck {
        display: inline-block;
        padding: 7.5px 10px;
        font-weight: 600;
        font-size: 12px;
        color: #069F0C;
        background-color: #ECFEEC;
        border-radius: 6px;
        margin-left: 5px;
    }
}
.sm-menu-drpdwn-cntr {
    width: 185px;
    padding: 15px;
    top: 40px;
    right: -10px;
    .menu-dropdwn-item {
        font-size: 12px;
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
        .db-cash-bck {
            padding: 2px 5px;
            font-size: 10px;
        }
    }
    &.width-max-content {
        width: max-content;
    }
}

@media screen and (max-width: 767px) {
    .header-main-container {
        max-width: 100%;
    }
    .header-container {
        max-width: 100%;
        padding: 20px;
        .header-right-blck {
            .middle-blck {
                display: none;
            }
        }
    }
    .login-btn {
        width: 82px;
        height: 34px;
        font-size: 13px;
        line-height: 34px;
    }
}