<div class="modal-cntr">
    <!-- STEP 1 -->
    <ng-container *ngIf="step === 'FORM'">
        <h2>Decoupen makes travelling an investiment</h2>
        <a class="know-more-btn" (click)="openDecouponDiscoverFn()">Want to know more ?</a>
        <div class="position-relative">
            <label for="fullName">Full Name</label>
            <input type="text" id="fullName" placeholder="Enter your full name" [(ngModel)]="fullName" [class.error-border]="formErrors.fullNameReqErr" (input)="onValueEnterFn()">
            <span class="error-message" *ngIf="formErrors.fullNameReqErr != ''">{{ formErrors.fullNameReqErr }}</span>
        </div>
        <div class="position-relative">
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="Enter your email ID" [(ngModel)]="emailId" [class.error-border]="formErrors.emailIdErr" (input)="onValueEnterFn()">
            <span class="error-message" *ngIf="formErrors.emailIdErr != ''">{{ formErrors.emailIdErr }}</span>
        </div>
        <div class="position-relative">
            <label for="mobNumber">Mobile Number</label>
            <input type="text" id="mobNumber" placeholder="+91 - Enter your number" [(ngModel)]="mobNumber" [class.error-border]="formErrors.mobNumErr" (input)="onValueEnterFn()">
            <span class="error-message" *ngIf="formErrors.mobNumErr != ''">{{ formErrors.mobNumErr }}</span>
        </div>
        <div class="btn-contr">
            <button type="button" class="cncl-btn" (click)="openDecouponDiscoverFn()">I’m not travelling now</button>
            <button type="button" class="apprv-btn" (click)="confirmTravelFn()">Yes, I have a travel plan</button>
        </div>
    </ng-container>
    <!-- STEP 2 -->
    <ng-container *ngIf="step === 'DISCOVER_DECOUPON'">
        <div class="mob-bck-btn" (click)="bakcToFormFn()"></div>
        <h3 class="dis-decpn-ttl">Discover Decoupen:</h3>
        <h2 class="dis-decpn-main-ttl">Where every journey brings you joy—<br>and cashback.</h2>
        <p class="disc-decpn-desc">Are you ready to transform the way you travel? At Decoupen, we believe that every trip should be more than just an escape; it should be an opportunity to invest in your future. With our unique cashback model, your travel expenses can actually work for you!</p>
        <div class="why-decpn">
            <h3>Why Decoupen?</h3>
            <p>Invest in experiences—travel is one of the best investments you can make, and at Decoupen, we make it even more rewarding with exclusive cashback on every journey.</p>
        </div>
        <div class="btn-contr">
            <button type="button" class="cncl-btn step2-bck-btn" (click)="bakcToFormFn()">Back</button>
        </div>
    </ng-container>
    <!-- STEP 3 -->
     <ng-container *ngIf="step === 'AGENT_CONTACT'">
        <div class="agent-cntct-cntr">
            <h3>Great! You're all set for your<br> exclusive offers.</h3>
            <p>Our agent will contact you soon with your exclusive deals.</p>
            <img src="/assets/images/agent-contact.png" alt="agent-contact">
        </div>
     </ng-container>
</div>