<div class="landing-pge-cntr">
    <div>
        <h1 class="lndng-pg-ttl">About us</h1>
        <p class="lndng-txt-medium grey-5f">At <span class="red-f7">DecoupeN</span>, we believe that travel is more than just a journey—it's an experience that enriches your life, broadens your horizons, and creates unforgettable memories. We are passionate about helping you travel with ease, convenience, and confidence. 
        <p class="lndng-txt-medium grey-5f"><span class="red-f7">DecoupeN</span> was founded with a vision to revolutionize the travel industry by combining cutting-edge technology with a deep passion for travel.</p> 
        <p class="lndng-txt-medium grey-5f">Our team of travel enthusiasts, industry experts, and tech innovators work together to bring you a seamless and enjoyable booking experience.</p>
        <div class="hzl-line"></div>
        <div class="missin-bx">
            <h3>Our Mission</h3>
            <p class="lndng-txt-medium grey-5f">Our mission at <span class="red-f7">DecoupeN</span> is to make travel an investment for everyone. Whether you're planning a family vacation, a business trip, or a solo adventure, we provide the best travel deals, comprehensive travel solutions, and exceptional customer service.</p>
        </div>
        <div class="hzl-line"></div>
        <h1 class="lndng-txt-32px-medium black m-0px">Why Choose Us?</h1>
        <ul class="choose-us-blck">
            <li>
                <span>Personalized Service</span>: We understand that every traveler is unique, and we tailor our services to meet your specific needs.
            </li>
            <li>
                <span>Best Price Guarantee</span>: We work tirelessly to ensure that you get the best deals and value for your money.
            </li>
            <li>
                <span>User-Friendly Platform</span>: Our easy-to-use website and mobile app make booking your travel a breeze.
            </li>
            <li>
                <span>Cashbacks on Every Booking</span>: We make sure that you spend very little of the actual price over a lifetime with our cashback on all booking feature. An average Indian takes about 260-325 domestic trips in their lifetime, but DecoupeN ensures you only pay for 130 trips.
            </li>
            <li>
                <span>Trusted Partners</span>: We collaborate with trusted hotels and travel providers to offer you high-quality services.
            </li>
            <li>
                <span>Commitment to Excellence</span>: We are dedicated to delivering an exceptional travel experience from start to finish.
            </li>
        </ul>
    </div>
    <div>
        <img src="/assets/images/about-us.jpg" alt="about-us">
    </div>
</div>