<div class="landing-pge-cntr">
    <div>
        <h1 class="lndng-pg-ttl">Contact us</h1>
        <h3 class="reach-us-ttl">Reach us at</h3>
        <div class="reach-us-blck">
            <a href="" class="reach-us-option">
                <span class="img-blck watsap"></span>
                <span class="reach-us-txt">+91 9329329322</span>
            </a>
            <a href="" class="reach-us-option">
                <span class="img-blck call"></span>
                <span class="reach-us-txt">+91 9329329322</span>
            </a>
            <a href="" class="reach-us-option">
                <span class="img-blck mail"></span>
                <span class="reach-us-txt">+91 9329329322</span>
            </a>
        </div>
        <div class="hzl-line"></div>
        <h2 class="faq-section-ttl">Frequently Asked Questions</h2>
        <div class="faq-blck">
            <h3 class="faq-ttl">Q1. Why should I book hotels online on DecoupeN?</h3>
            <p class="faq-cnt">DecoupeN is the best app for booking hotels. Get all hotel details like descriptions, highlights, photos, amenities, room types, and rates. To book, open our site or app, enter the location, check-in and check-out dates, guest details, and tap "Search." Use filters and sorting to find hotels based on reviews and ratings. It's easy and convenient.</p>
        </div>
        <div class="faq-blck">
            <h3 class="faq-ttl">Q2. How can I find the best hotels near me on DecoupeN?</h3>
            <p class="faq-cnt">If you're new to a city and want the best hotel areas, DecoupeN makes it easy. For example, if you're in Kovalam and want a hotel near popular beaches, hit "Search" on Kovalam Beach to see hotels in beach areas. Find hotels perfect for couples and families.</p>
        </div>
        <div class="faq-blck">
            <h3 class="faq-ttl">Q3. How do I search for cheap hotels on DecoupeN?</h3>
            <p class="faq-cnt">DecoupeN offers big discounts on hotels. Search your location or city, use filters to set your price range, and find options. Sort results from low to high prices to find budget-friendly deals.</p>
        </div>
        <div class="faq-blck">
            <h3 class="faq-ttl">Q4. What are the best hotel deals on DecoupeN?</h3>
            <p class="faq-cnt">Yes, we offer cashback coupons after every booking. Use these coupons for cashback on your next booking. Enjoy unlimited cashback with every booking as part of our long-term travel solutions.</p>
        </div>
        <div class="faq-blck">
            <h3 class="faq-ttl">Q5. Do you have loyalty rewards or membership programs?</h3>
            <p class="faq-cnt">DecoupeN is the best app for booking hotels. Get all hotel details like descriptions, highlights, photos, amenities, room types, and rates. To book, open our site or app, enter the location, check-in and check-out dates, guest details, and tap "Search." Use filters and sorting to find hotels based on reviews and ratings. It's easy and convenient.</p>
        </div>
        <div class="faq-blck">
            <h3 class="faq-ttl">Q6. How do I know my booking is confirmed?</h3>
            <p class="faq-cnt">Once your booking is complete, we will send an SMS and an email to the contact details you provided during checkout.</p>
        </div>
        <div class="faq-blck">
            <h3 class="faq-ttl">Q7. What are your cancellation policies?</h3>
            <p class="faq-cnt">Cancellation policies vary by property. Common policies include free cancellation up to 24 hours, 48 hours, or 72 hours before check-in. Some cancellations may be non-refundable.</p>
        </div>
        <div class="faq-blck">
            <h3 class="faq-ttl">Q8. Can I change my reservation after booking?</h3>
            <p class="faq-cnt">Yes, our customer success team can make changes based on room availability and hotel policies. We will do our best to accommodate the changes.</p>
        </div>
        <div class="faq-blck">
            <h3 class="faq-ttl">Q9. How can I contact DecoupeN support?</h3>
            <p class="faq-cnt">Reach out to our support team at +91 9999999991 or email us at help&#64;mycompany.com.</p>
        </div>
    </div>
    <div>
        <img src="/assets/images/contact-us.jpg" alt="contact-us">
    </div>
</div>