<div class="landing-pge-cntr">
    <div>
        <h1 class="lndng-pg-ttl">Privacy Policy</h1>
        <p class="lndng-txt-medium grey-5f">At <span class="red-f7">DecoupeN</span>, we believe that travel is more than just a journey—it's an experience that enriches your life, broadens your horizons, and creates unforgettable memories. We are passionate about helping you travel with ease, convenience, and confidence. 
        <p class="lndng-txt-medium grey-5f"><span class="red-f7">DecoupeN</span> was founded with a vision to revolutionize the travel industry by combining cutting-edge technology with a deep passion for travel.</p> 
        <p class="lndng-txt-medium grey-5f">Our team of travel enthusiasts, industry experts, and tech innovators work together to bring you a seamless and enjoyable booking experience.</p>
    </div>
    <div>
        <img src="/assets/images/privacy-policy.jpg" alt="privacy-policy">
    </div>
</div>

