.order-smry-cntr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    margin-bottom: 64px;
    color: #000;
}
.cnfrm-pay-ttl {
    font-size: 36px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 32px;
}
.login-reg-ttl {
    font-weight: 500;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 24px;
}
.input-label {
    font-size: 14px;
    font-weight: 600;
    color: #5f5f5f;
    margin-top: 0;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.otp-snd-ins-txt {
    font-size: 13px;
    color: #2a2a2e;
    font-weight: 400;
}
.sign-in-wth-blck {
    width: 100%;
    height: 1px;
    background-color: #efefef;
    margin: 34px 0;
    position: relative;
    &:after {
        content: 'Or';
        color: #333;
        font-size: 14px;
        font-weight: 600;
        background-color: #fff;
        padding: 10px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -20px;
    }
}
.sign-in-opt-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    height: 58px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    margin-bottom: 30px;
    cursor: pointer;
    &:last-child {
        margin-bottom: 0;
    }
    .google-icon {
        width: 21px;
        height: 21px;
        background: url("/assets/images/sprite-svg.svg") no-repeat -436px -4px;
    }
    .mob-icon {
        width: 15px;
        height: 23px;
        background: url("/assets/images/sprite-svg.svg") no-repeat -470px -3px;
    }
    .email-icon {
        width: 22px;
        height: 20px;
        background: url("/assets/images/sprite-svg.svg") no-repeat -261px -44px;
    }
    span {
        font-size: 18px;
        color: #000000;
        font-weight: 600;
    }
}
.privacy-pol-txt {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 500;
    color: #5f5f5f;
    text-align: center;
    a {
        color: #EC4C1D;
        text-decoration: none;
    }
}
.title-text {
    margin-top: 0;
    margin-bottom: 28px;
    font-weight: 600;
    font-size: 36px;
    color: #000000;
}
.otp-send-msg {
    font-size: 18px;
    margin: 0;
    color: #5f5f5f;
    strong {
        color: #1f1f1f;
    }
}
.otp-input-container {
    margin-top: 32px;
    margin-bottom: 26px;
}
:host ::ng-deep ngx-otp-input {
    display: block;
    width: 100%;
    .ngx-otp-input-form {
        width: 100%;
        gap: 10px;
        justify-content: space-between;
        @media screen and (max-width: 767px) {
            gap: 5px;
        }
    }
    .ngx-otp-input-box {
        flex: 1;
        height: 64px;
        padding: 0;
        border-radius: 8px;
        border: 1px solid #dfdfdf;
        font-size: 20px;
        color: #1f1f1f;
        font-weight: 700;
        font-family: "Plus Jakarta Sans", serif;
        @media screen and (max-width: 767px) {
            height: 49px;
            font-size: 16px;
        }
    }
}
.otp-back-btn {
    width: 100%;
    height: 58px;
    cursor: pointer;
    border: 1px solid #1f1f1f;
    border-radius: 8px;
    font-weight: 700;
    font-family: "Plus Jakarta Sans", serif;
    font-size: 18px;
    margin-top: 12px;
    background-color: #FFFFFF;
}
.resend-otp-blck {
    margin-top: 24px;
    text-align: center;
    .warn-msg {
        color: #5f5f5f;
        margin: 0;
    }
    .resend-otp-btn {
        text-decoration: none;
        color: #EC4C1D;
        cursor: pointer;
    }
}
.resend-otp-blck :where(.warn-msg, .resend-otp-btn) {
    font-size: 18px;
    font-family: "Plus Jakarta Sans", serif;
    font-weight: 700;
}
.otp-privacy-policy {
    margin-top: 80px;
}
.user-signd-blck {
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.user-avtr {
    width: 46px;
    height: 46px;
    background: url('/assets/images/sprite-png.png') no-repeat -199px -194px;
    background-size: 496px 258px;
}
.user-det-blck {
    flex: 1;
    h3 {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
        color: #000;
    }
    p {
        font-size: 14px;
        font-weight: 500;
        margin-top: 4px;
        margin-bottom: 0;
        color: #6b6b6b;
    }
}
@media screen and (max-width: 767px) {
    .title-text {
        font-size: 28px;
    }
    .otp-title-tex {
        margin-bottom: 14px;
    }
    .otp-send-msg {
        font-size: 14px;
    }
}