<div class="bukn-smry-cntr">
    <div class="ppty-bukd-det-blck">
        <div class="ppty-bukd-det">
            <img class="resort-thumb-img" src="/assets/images/dummy-resort-thumb.png" alt="resort-thumb">
            <div class="ppty-det-blck">
                <h3 class="rsrt-ttl">Avoki Resorts</h3>
                <p class="rsrt-addr">Plot No. 1 Sector 44, Near HUDA Metro, Gurugram, Delhi N.C.R, 122 004</p>
                <div class="rsrt-rtng-blck">
                    <div class="rsrt-str"></div>
                    <span class="rsrt-rat-val">4.86 (101 reviews)</span>
                </div>
            </div>
        </div>
        <div class="ppty-bukd-timngs-blck">
            <div>
                <h4>Check-in</h4>
                <h3>Fri, Jun 03, 2024</h3>
            </div>
            <div>
                <h4>Check-out</h4>
                <h3>Fri, Jun 03, 2024</h3>
            </div>
            <div>
                <h4>Guests</h4>
                <h3>3 Adults, 1 Infant</h3>
            </div>
        </div>
    </div>
    <div class="bukng-smmry-blck">
        <h3 class="bkng-smry-ttl">Booking Summary</h3>
        <div class="bkng-categry">
            <span class="cat-item cat-type">Deluxe Double Room x 2 nights</span>
            <span class="cat-item cat-amt">₹8000</span>
        </div>
        <div class="bkng-categry">
            <span class="cat-item cat-type">Deluxe Double Room x 2 nights</span>
            <span class="cat-item cat-amt">₹12000</span>
        </div>
        <div class="bkng-categry">
            <span class="cat-item cat-type">Taxes and Fees</span>
            <span class="cat-item cat-amt">₹124</span>
        </div>
        <div class="bkng-categry">
            <span class="cat-item cat-type">Discount on Property</span>
            <span class="cat-item cat-amt">-₹500</span>
        </div>
        <div class="bkng-categry bkng-decoupon-cat">
            <div class="bkng-decoupon-left-blck">
                <div class="bkng-decoupon-ico"></div>
                <span class="bkng-dec-txt">Decoupen Credits</span>
            </div>
            <span class="bkng-dec-txt">-₹1000</span>
        </div>
        <div class="bkng-categry bkng-dscnt-cat">
            <div class="bkng-dscnt-left-blck">
                <div class="bkng-dscnt-ico"></div>
                <span class="bkng-dscnt-txt">NEWBOOKING25 discount</span>
            </div>
            <span class="bkng-dscnt-txt bkng-dscnt-amt-txt">-₹1000</span>
        </div>
        <div class="bkng-categry bkng-total-dscnt">
            <span class="cat-item cat-type">Total Discount</span>
            <span class="cat-item cat-amt">-₹3000</span>
        </div>
        <div class="bkng-categry bkng-category-total">
            <span class="cat-item cat-type bkng-total-txt">Total</span>
            <span class="cat-item cat-amt">
                <div class="bkng-total-amts-blck">
                    <span class="strike-off-price">₹20,124</span>
                    <span class="actual-price">₹12124</span>
                </div>
                <p class="taxes-and-fees-txt">+₹500 in Taxes and Fees</p>
            </span>
        </div>
    </div>
</div>