<div class="ppty-det-outer-cntr">
    <div class="ppty-det-inner-cntr">
        <div class="ppty-left-cntr">
            <h3 class="ppty-name">Avoki Resorts</h3>
            <div class="str-rtng-blck">
                <div class="str-ico"></div>
                <span class="str-rate">4.86 (101)</span>
            </div>
            <div class="loc-addrs-blck">
                <span>Plot No. 1 Sector 44, Near HUDA Metro, Gurugram, Delhi N.C.R, 122 004</span>
                <div class="view-loc-mp-blck">
                    <div class="map-ico"></div>
                    <p>View in map</p>
                </div>
            </div>
            <div class="seperator-line"></div>
            <h3 class="ppty-sub-ttle">Amenities</h3>
            <div class="amenities-blck">
                @for (item of dummyAmenetiesArr; track item) {
                    <div class="amenity-item">
                        <img [src]="item?.imgUrl" [alt]="item?.name">
                        {{item?.name}}
                    </div>
                }
            </div>
            <button type="button" class="view-more-btn">View more</button>
            <div class="seperator-line"></div>
            <h3 class="ppty-sub-ttle">Guest Details</h3>
            <div class="guest-det-block">
                <div class="chek-in-out-blck">
                    <div class="check-ico check-in"></div>
                    <span>24 Jan, Wed</span>
                    <div class="check-ico check-out"></div>
                    <span>30 Jan, Wed</span>
                </div>
                <div class="guest-count-blck">
                    <span>2 Adults</span>
                    <span>.</span>
                    <span>1 Child</span>
                    <span>.</span>
                    <span>1 Infant</span>
                    <span>.</span>
                    <span>1 Room</span>
                </div>
            </div>
            <div class="seperator-line"></div>
            <h3 class="ppty-sub-ttle">Select Your Room</h3>
            <div class="rooms-avail-blck">
                <img class="rooms-avail-img" loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/516a34e19c15231266508ef73616e116a4680878049fa7e834eb2f15d8ecc64f?placeholderIfAbsent=true&apiKey=86fa706afe8f4327b17bc27978eed39f">
                <div class="room-avail-det-blck">
                    <h3 class="section-left room-name">Deluxe Jumbo Rooms</h3>
                    <div class="section-right rooms-avail-cnt">2 rooms available</div>
                    <div class="section-left bed-typ-blck">
                        <div class="bed-ico"></div>
                        <span>1 extra-large double bed</span>
                    </div>
                    <span class="section-right bed-duration">Per night</span>
                    <div class="section-left guest-cnt-blck">
                        <div class="guest-user-ico"></div>
                        <span>Max. 3 guests</span>
                    </div>
                    <div class="section-right price-det-blck">
                        <span class="strik-off">&#8377;5900</span>
                        <span class="exact-price">&#8377;5400</span>
                    </div>
                    <div class="section-left more-det-btn">
                        <button type="button" class="view-more-btn">More Details</button>
                    </div>
                    <div class="section-right room-count-hndlr-blck">
                        <app-increment-decrement-counter [counterValue]="2"></app-increment-decrement-counter>
                    </div>
                </div>
            </div>
            <div class="rooms-avail-blck">
                <img class="rooms-avail-img" loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/516a34e19c15231266508ef73616e116a4680878049fa7e834eb2f15d8ecc64f?placeholderIfAbsent=true&apiKey=86fa706afe8f4327b17bc27978eed39f">
                <div class="room-avail-det-blck">
                    <h3 class="section-left room-name">Deluxe Jumbo Rooms</h3>
                    <div class="section-right rooms-avail-cnt">2 rooms available</div>
                    <div class="section-left bed-typ-blck">
                        <div class="bed-ico"></div>
                        <span>1 extra-large double bed</span>
                    </div>
                    <span class="section-right bed-duration">Per night</span>
                    <div class="section-left guest-cnt-blck">
                        <div class="guest-user-ico"></div>
                        <span>Max. 3 guests</span>
                    </div>
                    <div class="section-right price-det-blck">
                        <span class="strik-off">&#8377;5900</span>
                        <span class="exact-price">&#8377;5400</span>
                    </div>
                    <div class="section-left more-det-btn">
                        <button type="button" class="view-more-btn">More Details</button>
                    </div>
                    <div class="section-right room-count-hndlr-blck">
                        <app-increment-decrement-counter [counterValue]="2"></app-increment-decrement-counter>
                    </div>
                </div>
            </div>
            <div class="rooms-avail-blck">
                <img class="rooms-avail-img" loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/516a34e19c15231266508ef73616e116a4680878049fa7e834eb2f15d8ecc64f?placeholderIfAbsent=true&apiKey=86fa706afe8f4327b17bc27978eed39f">
                <div class="room-avail-det-blck">
                    <h3 class="section-left room-name">Deluxe Jumbo Rooms</h3>
                    <div class="section-right rooms-avail-cnt">2 rooms available</div>
                    <div class="section-left bed-typ-blck">
                        <div class="bed-ico"></div>
                        <span>1 extra-large double bed</span>
                    </div>
                    <span class="section-right bed-duration">Per night</span>
                    <div class="section-left guest-cnt-blck">
                        <div class="guest-user-ico"></div>
                        <span>Max. 3 guests</span>
                    </div>
                    <div class="section-right price-det-blck">
                        <span class="strik-off">&#8377;5900</span>
                        <span class="exact-price">&#8377;5400</span>
                    </div>
                    <div class="section-left more-det-btn">
                        <button type="button" class="view-more-btn">More Details</button>
                    </div>
                    <div class="section-right room-count-hndlr-blck">
                        <app-increment-decrement-counter [counterValue]="2"></app-increment-decrement-counter>
                    </div>
                </div>
            </div>
            <div class="seperator-line"></div>
            <h3 class="ppty-sub-ttle">Our Hotel Habits</h3>
            <div class="hotl-habit-blck">
                <div class="left">
                    <div class="habits">
                        <div class="habit-ico chek-in"></div>
                        <span>Check-in: 12:00 pm – 11:00 pm</span>
                    </div>
                    <div class="habits">
                        <img src="/assets/images/cigaret.svg" alt="" srcset="">
                        <span>Smoking Allowed</span>
                    </div>
                    <div class="habits">
                        <img src="/assets/images/people.svg" alt="" srcset="">
                        <span>5 guests maximum</span>
                    </div>
                </div>
                <div class="right">
                    <div class="habits">
                        <div class="habit-ico chek-out"></div>
                        <span>Checkout before 11:00 am</span>
                    </div>
                    <div class="habits">
                        <img src="/assets/images/pet-foot.svg" alt="" srcset="">
                        <span>Pets are not allowed</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ppty-right-cntr">
            <div class="room-smry-blck">
                <h3>Room Summary</h3>
                <div class="room-price-det">
                    <span class="room">Deluxe Double Room x 2 nights</span>
                    <span class="price">6000 INR</span>
                </div>
                <div class="room-price-det">
                    <span class="room">Deluxe Jumbo Room x 1 night</span>
                    <span class="price">28 INR</span>
                </div>
                <div class="room-price-det offer-appld">
                    <span class="room">10% offer applied</span>
                    <span class="price">-&#8377;2500</span>
                </div>
                <div class="room-price-total-blck">
                    <span class="totl-txt">Total</span>
                    <div class="grnd-totl-blck">
                        <p class="totl-price">
                            <span class="strk-off">&#8377;12000</span>
                            <span class="grnd-totl">&#8377;10000</span>
                        </p>
                        <p class="tax-fees-blck">+&#8377;500 in Taxes and Fees</p>
                    </div>
                </div>
                <button type="button" class="apply-more-discnt-btn">Apply More Discounts</button>
            </div>
        </div>
        <div class="ppty-bot-cntr">
            <div class="seperator-line"></div>
            <h3 class="ppty-sub-ttle">How do we treat!</h3>
            <div class="ppty-treats-to-users-blck">
                <div class="treat-check-ico"></div>
                <span>Offering free toiletries and bathrobes, this double room includes a private bathroom with a walk-in shower, a hairdryer and slippers.</span>
            </div>
            <div class="ppty-treats-to-users-blck">
                <div class="treat-check-ico"></div>
                <span>The spacious air-conditioned double room offers a flat-screen TV with cable channels, a private entrance, a minibar, a tea and coffee maker as well as garden views.</span>
            </div>
            <div class="ppty-treats-to-users-blck">
                <div class="treat-check-ico"></div>
                <span>The spacious air-conditioned double room offers a flat-screen TV with cable channels, a private entrance, a minibar, a tea and coffee maker as well as garden views.</span>
            </div>
            <div class="seperator-line"></div>
            <h3 class="ppty-sub-ttle">Cancellation Policy</h3>
            <p class="cancel-policy-msg">Before you book, make sure you're comfortable with this Hotel’s cancellation policy. Keep in mind that DecoupeN’s Extenuating Circumstances policy doesn't cover cancellations due to illness or travel disruptions caused by COVID-19.</p>
            <button class="view-more-btn" type="button">Find more about cancellation policies</button>
        </div>
    </div>
</div>