.ppty-det-outer-cntr {
    margin-top: 84px;
    margin-bottom: 64px;
}
.ppty-images-blck {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    grid-auto-rows: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 120px auto 30px auto;
    height: auto;
    .ppty-img.ppty-img-0 {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .ppty-img-1 {
        grid-column: 2/3;
    }
    .ppty-img-2 {
        grid-column: 3/-1;
    }
    .ppty-img-3 {
        grid-column: 2/3;
    }
    .ppty-img-4 {
        grid-column: 3/-1;
        position: relative;
    }
    .ppty-img img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .show-more-blck {
        width: 100%;
        height: 99%;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        background-color: #0000008c;
    }
}
.ppty-det-inner-cntr {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 350px;
    column-gap: 40px;
}
.ppty-left-cntr {
    grid-column: 1/2;
}
.ppty-right-cntr {
    grid-column: 2/-1;
}
.ppty-bot-cntr {
    grid-column: 1/-1;
}
.ppty-name {
    font-size: 34px;
    color: #1f1f1f;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
}
.str-rtng-blck {
    display: flex;
    align-items: center;
    .str-ico {
        width: 13px;
        height: 13px;
        background: url('/assets/images/sprite-png.png') no-repeat -457px -41px;
        background-size: 496px 258px;
    }
    .str-rate {
        font-size: 20px;
        color: #222;
        font-weight: 600;
        margin-left: 5px;
    }
}
.loc-addrs-blck {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
        font-size: 16px;
        color: #5f5f5f;
        font-weight: 500;
    }
    .view-loc-mp-blck {
        display: flex;
        align-items: center;
        cursor: pointer;
        p {
            font-size: 18px;
            font-weight: 600;
            color: #f0692a;
            margin: 0 0 0 8px;
            border-bottom: 2px solid #f0692a;
        }
    }
    .map-ico {
        width: 16px;
        height: 20px;
        background: url('/assets/images/sprite-png.png') no-repeat -449px -83px;
        background-size: 496px 258px;
    }
}
.seperator-line {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 100%;
    height: 0.5px;
    background-color: #e8e8e8;
}
.ppty-sub-ttle {
    font-weight: 600;
    font-size: 24px;
    color: #1f1f1f;
    margin-bottom: 20px;
    margin-top: 0;
}
.amenities-blck {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.amenity-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px 14px;
    font-size: 16px;
    font-weight: 600;
    color: #222;
    border-radius: 23px;
    border: 1px solid #ebebeb;
    img {
        max-width: 20px;
    }
}
.view-more-btn {
    color: #f0692a;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans', serif;
    margin-top: 15px;
    padding: 0;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #f0692a;
    cursor: pointer;
}
.guest-det-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .chek-in-out-blck {
        display: flex;
        align-items: center;
    }
    .chek-in-out-wrpr {
        display: flex;
        align-items: center;
        span {
            font-size: 16px;
            font-weight: 500;
            color: #5f5f5f;
        }
    }
    .check-ico {
        width: 20px;
        height: 21px;
        margin-right: 12px;
        &.check-in {
            background: url('/assets/images/sprite-png.png') no-repeat -190px -121px;
            background-size: 496px 258px;
        }
        &.check-out {
            background: url('/assets/images/sprite-png.png') no-repeat -230px -121px;
            background-size: 496px 258px;
            margin-left: 24px;
        }
    }
    .guest-count-blck {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: 8px;
        span {
            font-size: 16px;
            font-weight: 500;
            color: #5f5f5f;
        }
    }
}
.rooms-avail-blck {
    max-height: 220px;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #e5e5e5;
    display: grid;
    grid-template-columns: 210px 1fr;
    column-gap: 24px;
    margin-bottom: 24px;
    &:last-child {
        margin-bottom: 0;
    }
    .rooms-avail-img {
        max-width: 100%;
    }
    .room-avail-det-blck {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 38px 38px 38px 1fr;
    }
    .section-left {
        grid-column: 1/2;
    }
    .section-right {
        grid-column: 2/-1;
    }
    .room-name {
        margin: 0;
        font-size: 20px;
        color: #1f1f1f;
        font-weight: 700;
        align-self: center;
    }
    .rooms-avail-cnt {
        padding: 10px 16px;
        background-color: #EDFBEF;
        color: #0AA31C;
        border-radius: 2px;
        font-size: 14px;
        font-weight: 600;
        justify-self: flex-end;
    }
    .bed-typ-blck {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-top: 15px;
        color: #5f5f5f;
        .bed-ico {
            width: 17px;
            height: 15px;
            background: url('/assets/images/sprite-png.png') no-repeat -301px -122px;
            background-size: 496px 258px;
        }
    }
    .bed-duration {
        font-size: 14px;
        font-weight: 500;
        color: #5f5f5f;
        justify-self: flex-end;
        align-self: flex-end;
    }
    .guest-cnt-blck {
        display: flex;
        align-items: center;
        column-gap: 10px;
        color: #5f5f5f;
        margin-top: 15px;
        .guest-user-ico {
            width: 14px;
            height: 15px;
            background: url('/assets/images/sprite-png.png') no-repeat -265px -123px;
            background-size: 496px 258px;
        }
    }
    .price-det-blck {
        justify-self: flex-end;
        align-self: center;
        margin-top: 15px;
        .strik-off {
            color: #5f5f5f;
            font-size: 14px;
            font-weight: 600;
            text-decoration: line-through;
            margin-right: 4px;
        }
        .exact-price {
            color: #1f1f1f;
            font-size: 20px;
            font-weight: 700;
        }
    }
    .more-det-btn {
        align-self: flex-end;
    }
}
::ng-deep .room-count-hndlr-blck {
    justify-self: flex-end;
    align-self: flex-end;
    app-increment-decrement-counter {
        .counter-container {
            width: auto;
            height: auto;
            padding: 0;
            border: 0;
        }
        .decrement,
        .increment {
            width: 46px;
            height: 46px;
            line-height: 38px;
            text-align: center;
            border: 1px solid #3d3d3d;
            border-radius: 50%;
            font-size: 24px;
        }
        .value {
            font-size: 24px !important;
            font-weight: 700;
            color: #000;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 0 !important;
        }
    }
}
.hotl-habit-blck {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    .left {
        grid-column: 1/2;
    }
    .right {
        grid-column: 2/-1;
    }
    .habits {
        display: flex;
        align-items: baseline;
        column-gap: 15px;
        font-size: 18px;
        font-weight: 500;
        color: #5f5f5f;
        margin-bottom: 36px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .habit-ico {
        width: 20px;
        height: 21px;
    }
    .chek-in {
        background: url('/assets/images/sprite-png.png') no-repeat -190px -121px;
        background-size: 496px 258px;
    }
    .chek-out {
        background: url('/assets/images/sprite-png.png') no-repeat -230px -121px;
        background-size: 496px 258px;
    }
}
.ppty-treats-to-users-blck {
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: flex-start;
    column-gap: 15px;
    margin-bottom: 20px;
    .treat-check-ico {
        width: 28px;
        height: 25px;
        background: url('/assets/images/sprite-png.png') no-repeat -338px -120px;
	    background-size: 496px 258px;
    }
    span {
        font-size: 14px;
        font-weight: 400;
        color: #4d4d4d;
    }
}
.cancel-policy-msg {
    font-size: 16px;
    color: #4d4d4d;
    font-weight: 400;
    line-height: 140%;
}
.room-smry-blck {
    width: 100%;
    height: auto;
    padding: 24px;
    border-radius: 12px;
    border: 1px solid rgba(187, 187, 187, 0.25);
    box-shadow: 0 2px 20px 0 rgba(187, 187, 187, 0.25);
    h3 {
        font-size: 24px;
        font-weight: 700;
        color: #000;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .room-price-det {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;
        color: #333;
        font-size: 16px;
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
        &.offer-appld {
            color: #139C41;
        }
    }
    .room-price-det .room {
        font-weight: 400;
        flex: 1;
    }
    .room-price-det .price {
        font-weight: 700;
    }
    .room-price-total-blck {
        margin-top: 32px;
        display: grid;
        grid-template-columns: max-content 1fr;
        column-gap: 10px;
    }
    .totl-txt {
        font-size: 18px;
        font-weight: 700;
        color: #333;
    }
    .grnd-totl-blck {
        justify-self: flex-end;
        .totl-price {
            margin: 0;
            text-align: right;
            .strk-off {
                text-decoration: line-through;
                color: #5f5f5f;
                font-size: 14px;
                font-weight: 500;
                margin-right: 4px;
            }
            .grnd-totl {
                font-size: 18px;
                font-weight: 700;
                color: #1f1f1f;
            }
        }
        .tax-fees-blck {
            font-size: 13px;
            font-weight: 400;
            color: #5f5f5f;
            margin-bottom: 0;
            margin-top: 2px;
        }
    }
    .apply-more-discnt-btn {
        margin-top: 32px;
    }
}
.sbmt-or-btn {
    width: 100%;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    font-family: "Plus Jakarta Sans", serif;
    color: #fff;
    border-radius: 4px;
    border: 0;
    background: linear-gradient(0deg, #E6132F 0%, #EC4C1D 100%);
    cursor: pointer;
}
.sel-room-bot-btn-blck {
    display: none;
}
::ng-deep .ppty-images-carousel-blck {
    display: none;
    p-carousel {
        width: 100%;
        .p-carousel.p-component.p-carousel-horizontal {
            width: 100%;
            overflow: hidden;
            .p-carousel-content-container {
                width: 100%;
                position: relative;
                .p-carousel-viewport {
                    width: 100%;
                    .p-carousel-item-list {
                        width: 100%;
                        .p-carousel-item {
                            width: 100%;
                            img {
                                width: 100%;
                                height: 280px;
                                object-fit: cover;
                                border-radius: 4px;
                            }
                        }
                        .p-carousel-item img:first-of-type {
                            display: none;
                        }
                    }
                }
                .p-carousel-indicator-list {
                    padding: 0;
                    position: absolute;
                    left: 50%;
                    bottom: 15px;
                    transform: translateX(-50%);
                    .p-carousel-indicator {
                        .p-carousel-indicator-button {
                            width: 8px;
                            height: 8px;
                            border-radius: 100%;
                            background-color: #EDEDED
                        }
                        &.p-carousel-indicator-active {
                            .p-carousel-indicator-button {
                                background-color: #05232B;
                            }
                        }
                    }
                }
            }
        }
    }
}
.ppty-images-carousel-blck {
    position: relative;
    .img-carouel-tbumb-blck {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 52px;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        border: 2px solid #e5e5e5;
        border-radius: 6px;
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
}
.transparent-overlay-cntr {
    background-color: #00000059;
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.bottom-sheet-modal {
    display: none;
    height: 100%;
    background-color: #fff;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.2);
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    &.show-cntr {
        transform: translateY(0);
    }
    &.show-amenety-cntr {
        transform: translateY(0);
    }
    &.ameneties-bottom-modal {
        height: 80%;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
    app-select-rooms,
    app-more-ameneties {
        display: block;
        height: 100%;
    }
}

@media screen and (max-width: 767px) {
    .ppty-det-outer-cntr {
        margin-top: 120px;
        .ppty-images-blck,
        .ppty-right-cntr {
            display: none;
        }
        .ppty-det-inner-cntr {
            display: block;
            max-width: 100%;
            padding: 20px;
        }
        .ppty-left-cntr {
            grid-column: 1/-1;
        }
        .ppty-name {
            font-size: 26px;
        }
        .str-rtng-blck {
            .str-rate {
                font-size: 14px;
            }
        }
        .loc-addrs-blck {
            margin-top: 12px;
            .view-loc-mp-blck {
                display: none;
            }
            span {
                font-size: 14px;
            }
        }
        .seperator-line {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .ppty-sub-ttle {
            font-size: 18px;
        }
        .amenities-blck {
            .amenity-item {
                font-size: 14px;
            }
        }
        .view-more-btn {
            font-size: 14px;
        }
        .hotl-habit-blck {
            .left,
            .right {
                grid-column: 1/-1;
            }
            .habits {
                font-size: 14px;
                margin-bottom: 12px;
            }
        }
        .cancel-policy-msg {
            font-size: 14px;
            margin-bottom: 0;
        }
        .ppty-images-carousel-blck {
            display: block;
        }
    }
    .hide-sm {
        display: none;
    }
    .sel-room-bot-btn-blck {
        display: block;
        padding: 16px 20px;
        background-color: #fff;
        border-top: 1px solid #ebebeb;
        box-shadow: 0 -1px 24px 0 rgba(185, 185, 185, 0.25);
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        .gust-chckin-det-blck {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 5px;
            margin-bottom: 15px;
            font-size: 14px;
            font-weight: 400;
            color: #5f5f5f;
        }
    }
    .bottom-sheet-modal {
        display: block;
    }
}