<div class="ftr-outr-blck">
    <div class="ftr-inner-blck">
        <div class="ftr-blck">
            <a href="" class="ftr-brnd-logo">
                <img src="/assets/images/logo.svg" alt="Brand Logo">
            </a>
            <div class="social-share-blcks">
                <a href="" class="insta-icon"></a>
                <a href="" class="x-icon"></a>
                <a href="" class="fb-icon"></a>
                <a href="" class="linked-icon"></a>
            </div>
            <div class="tc-blck">
                <a href="" class="tc-link">Privacy Policy</a>
                <a href="" class="tc-link">Terms & Conditions</a>
            </div>
            <p class="copyright-details">
                Copyright&copy;{{ currentYear }} Decoupen,Inc. All rights reserved
            </p>
        </div>
    </div>
</div>