<div class="landing-page-main-container">
    <div class="landing-page-container">
        <div class="avg-trip-det">
            <div class="avg-trip-icon"></div>
            <p class="info">An average Indian takes about <span class="red-highlight">260-325</span> domestic trips in their lifetime, but Decoupen ensure you only pay for <span class="red-highlight">130 trips</span>.</p>
        </div>
        <!-- stand out block -->
        <div class="stand-out-blck">
            <h3 class="title-txt">Here's why we stand out!</h3>
            <div class="std-resns std-resns-1">
                <div class="std-info-blck">
                    <h3>Cashback Deals</h3>
                    <p>Earn up to 60% cashback on<br> your accommodations.</p>
                </div>
                <div class="imgs-blck-container">
                    <div class="imgs-blck"></div>
                </div>
            </div>
            <div class="std-resns std-resns-2">
                <div class="std-info-blck">
                    <h3>Passive Income</h3>
                    <p>Earn up to 60% cashback on<br> your accommodations.</p>
                </div>
                <div class="imgs-blck-container">
                    <div class="imgs-blck"></div>
                </div>
            </div>
            <div class="std-resns std-resns-3">
                <div class="std-info-blck">
                    <h3>Discounted Prices</h3>
                    <p>Earn up to 60% cashback on<br> your accommodations.</p>
                </div>
                <div class="imgs-blck-container">
                    <div class="imgs-blck"></div>
                </div>
            </div>
        </div>
        <!-- latest hotel rates -->
        <div class="latest-hotel-rates-blck">
            <h3 class="title-txt">Explore Latest Hotel Rates</h3>
            <div class="hotels-lists-blck">
                <div class="hotel-list-title-blck">
                    <p>HOTELS</p>
                    <p>No. of people<br>earning</p>
                    <p>HOTEL PRICE</p>
                    <p></p>
                </div>
                <div class="hotel-lists-container">
                    <div>
                        <p class="hotel-title">Ginger Hotel</p>
                        <div class="hotel-type">Deluxe</div>
                    </div>
                    <p class="hotel-title">221</p>
                    <div>
                        <p class="hotel-title">1400</p>
                        <p class="hotel-discount-percent">-0.07%</p>
                    </div>
                    <button type="button" class="latest-book-nw-btn">book now</button>
                </div>
                <div class="hotel-lists-container">
                    <div>
                        <p class="hotel-title">Ginger Hotel</p>
                        <div class="hotel-type">Deluxe</div>
                    </div>
                    <p class="hotel-title">221</p>
                    <div>
                        <p class="hotel-title">1400</p>
                        <p class="hotel-discount-percent">-0.07%</p>
                    </div>
                    <button type="button" class="latest-book-nw-btn">book now</button>
                </div>
            </div>
        </div>
        <!-- faq -->
        <app-faq></app-faq>
    </div>
</div>