.landing-page-main-container {
    margin-top: 80px;
}
.landing-page-container {
    max-width: 1200px;
    margin: 0 auto;
}
.avg-trip-det {
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    background-color: rgba(255, 160, 59, 0.06);
    .avg-trip-icon {
        width: 32px;
        height: 36px;
        background: url('/assets/images/sprite-svg.svg') no-repeat -97px -5px;
    }
    .info {
        font-size: 18px;
        color: #1f1f1f;
        margin: 0;
    }
    .red-highlight {
        color: #E6132F;
        font-weight: 600;
    }
}
.stand-out-blck {
    margin-top: 140px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    row-gap: 50px;
    column-gap: 20px;
    .title-txt {
        margin: 0;
        font-size: 28px;
        grid-column: 1/-1;
        justify-self: center;
    }
    .std-resns {
        height: 140px;
        background-color: #fff;
        box-shadow: 0px 0px 20.4px rgba(191, 191, 191, 0.25);
        display: grid;
        grid-template-columns: 1fr 140px;
        grid-auto-rows: 140px 140px;
        .imgs-blck-container {
            width: 140px;
            height: 140px;
            border-top-left-radius: 80%;
            background-color: #FFFAEC;
            position: relative;
            .imgs-blck {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -20px;
            }
        }
        &.std-resns-1 {
            grid-column: 1/2;
            .imgs-blck-container {
                .imgs-blck {
                    width: 107px;
                    height: 73px;
                    background: url('/assets/images/sprite-svg.svg') no-repeat -30px -49px;
                }
            }
        } 
        &.std-resns-2 {
            grid-column: 2/3;
            .imgs-blck-container {
                .imgs-blck {
                    width: 105px;
                    height: 95px;
                    background: url('/assets/images/sprite-svg.svg') no-repeat -45px -147px;
                }
            }
        }
        &.std-resns-3 {
            grid-column: 3/4;
            .imgs-blck-container {
                .imgs-blck {
                    width: 85px;
                    height: 93px;
                    background: url('/assets/images/sprite-svg.svg') no-repeat -153px -12px;
                }
            }
        }
        .std-info-blck {
            padding-top: 34px;
            padding-left: 28px;
            h3 {
                margin-top: 0;
                font-size: 18px;
                font-weight: bold;
            }
            p {
                margin: 0;
                color: #5f5f5f;
                font-size: 14px;
            }
        }
    }
}
.latest-hotel-rates-blck {
    margin-top: 140px;
    .title-txt {
        font-family: "Plus Jakarta Sans", serif;
        font-weight: 600;
        font-size: 40px;
        color: #222222;
        margin: 0;
    }
    .hotels-lists-blck {
        margin-top: 40px;
    }
    .hotel-list-title-blck {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 32px;
        p {
            margin: 0;
            font-size: 18px;
            color: #939393;
            font-weight: 600;
        }
    }
    .hotel-lists-container {
        margin-bottom: 32px;
        padding-bottom: 32px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border-bottom: 1px solid #e4e4e4;
    }
    .hotel-title {
        font-weight: 700;
        font-size: 22px;
        margin: 0;
    }
    .hotel-type {
        width: fit-content;
        background-color: #f3f3f3;
        padding: 4px 10px;
        font-size: 14px;
        border-radius: 4px;
        margin-top: 10px;
    }
    .hotel-discount-percent {
        margin-top: 10px;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 18px;
        color: #E6132F;
    }
    .latest-book-nw-btn {
        width: 164px;
        height: 60px;
        justify-self: flex-end;
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        border-radius: 4px;
        background-color: #1f1f1f;
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}
