
* {
    box-sizing: border-box;
}
body {
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: #1f1f1f;
}
.position-relative {
    position: relative;
}
.hidden-overflow {
    overflow: hidden;
}